:root {
  --color-primary: #6C38FF;
  --color-secondary: #00D1FF;
  --color-tertiary: #FFD600;
  
  --color-bg-base: #1A1433;
  --color-bg-surface: #251D47;
  --color-text-main: #FFFFFF;
  --color-text-muted: #A09DB0;

  --color-primary-light: #8E66FF;
  --color-primary-dark: #4B27B2;
}

body {
  background-color: var(--color-bg-base);
  color: var(--color-text-main);
  font-family: 'Be Vietnam Pro', sans-serif; 
}

h1, h2, h3 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}