.custom-navbar {
  background-color: var(--color-bg-surface, #251D47); 
  padding: 1rem 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2); 
}

.navbar-logo {
  height: 4rem;
  width: auto;
  object-fit: contain;
}

.btn-arcade-login:hover {
  background-color: #8356ff;
  color: white;
}

.btn-arcade-login:active {
  transform: translateY(4px);
  border-bottom: 0px solid transparent;
  margin-bottom: 4px;
}