.login-page-container {
  min-height: calc(80vh)
}

.login-card {
  background-color: var(--color-bg-surface, #251D47);
  padding: 3rem 2.5rem;
  border-radius: 24px;
  width: 100%;
  max-width: 450px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(108, 56, 255, 0.1);
}

.login-title {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--color-text-main, #FFFFFF);
  font-weight: 800;
  letter-spacing: 1px;
}

.login-p {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: var(--color-text-main, #FFFFFF);
  font-weight: 200;
  letter-spacing: 1px;
}

.custom-label {
  font-family: 'Be Vietnam Pro', sans-serif;
  color: var(--color-primary, #6C38FF);
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

.custom-input {
  background-color: #1A1433 !important;
  border: 2px solid #352B63 !important;
  color: white !important;
  border-radius: 12px;
  padding: 12px 16px;
  font-family: 'Be Vietnam Pro', sans-serif;
}

.custom-input:focus {
  border-color: var(--color-primary, #6C38FF) !important;
  box-shadow: 0 0 8px rgba(108, 56, 255, 0.4) !important;
}

.btn-arcade-submit:hover {
  background-color: #8356ff !important;
}

.btn-arcade-submit:active {
  transform: translateY(4px);
  border-bottom: 0px solid transparent !important;
}

.arcade-error-msg {
  font-family: 'Be Vietnam Pro', sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
  background-color: rgba(226, 0, 26, 0.1);
  padding: 8px;
  border-radius: 8px;
  border: 1px solid rgba(226, 0, 26, 0.2);
}